name: Update Activity
on:
    schedule: [{ cron: "0 */6 * * *" }]
    workflow_dispatch:

jobs:   
    generate:
        permissions:
            contents: write
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
            - uses: actions/checkout@v6
            - uses: jamesgeorge007/github-activity-readme@v0.4.6
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  COMMIT_MSG: "chore: update activity feed"
                  MAX_LINES: 8


