name: GitHub Metrics
on:
    schedule: [{ cron: "0 0 * * *" }]
    workflow_dispatch:

    push:
        branches:
            - main

jobs:   
    generate:
        permissions:
            contents: write
        runs-on: ubuntu-latest
        timeout-minutes: 5        
        steps:
            - uses: lowlighter/metrics@v3.34
              with:
                  token: ${{ secrets.METRICS_TOKEN }}
                  user: aliammari1
                  template: classic
                  base: header, activity, community, repositories
                  plugin_achievements: yes
                  plugin_achievements_display: compact
                  plugin_languages: yes
                  plugin_languages_limit: 8
                  plugin_stars: yes
                  plugin_stars_limit: 3
                  output_action: commit
                  filename: metrics.svg
