name: GitHub Metrics
on:
  schedule: [{ cron: "0 0 * * *" }]
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: aliammari1
          template: classic
          base: header, activity, community, repositories
          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_stars: yes
          plugin_stars_limit: 3
          output_action: commit
          filename: metrics.svg
