name: GitHub 3D Profile
on:
    schedule: [{ cron: "0 0 * * *" }]
    workflow_dispatch:

    push:
        branches:
            - main

jobs:
    generate:
        permissions:
            contents: write
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
            - uses: yoshi389111/github-profile-3d-contrib@0.7.1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  USERNAME: aliammari1
            - uses: crazy-max/ghaction-github-pages@v3
              with:
                  target_branch: main
                  build_dir: ./assets
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

